//@import 'CustomBootstrap';
@import './styles_source/sassCustomBootstrap';
@import "~rfs/scss";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

//add fint sizes to font-sizes map

$font-stack: 14px 'Century Gothic', Futura, sans-serif;
$font-star: 'Press Start 2P', cursive;
$dark: #212529;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;
$h7-font-size: 0.75rem;
$h8-font-size: 0.5rem;
$h9-font-size: 3.5rem;
$h10-font-size: 3rem;
body {
  font-family: $font-stack;
}

p {
  text-indent: 5%;
}

ol,
ul {
  padding-left: 30px;
}
.bi {
  width: 1em;
    height: 1em;
    fill: currentcolor;
}
a {
  color: $dark;
}
.mainContainer {
  min-width: 320px;
}
.star-robot-font {
  font-family: $font-star;
}
.header {
  height: 15vh;
  min-height: 100px;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}
.headerImg {
  width: 100%;
  min-height: 15vh;
  opacity: 0.65;
}
.headerOverlay {
  top: 0;
  left: 0;
  box-shadow: inset -20px -20px 40px 10px whitesmoke;
}
.cardPosts {
  height: 50vh;
}
.cardContainer {
  overflow: hidden;
}
.imgContainer {
  aspect-ratio: 16/9;
}
.cardImg {
  transition: transform 0.8s; /* Animation */
}
.cardImg:hover {
  transform: scale(
    1.06
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card-body {  
  overflow: hidden;
}
.card-text {
  color: #757575;
}
.navBar {
  display: flex;
  justify-content: space-between;  
}
.shareBarIcon,
.shareBarProfileIcon {
  padding: 0;
  line-height: 0;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.MPPostImgContainer{
    height: 22rem;
}

.codeModalHeader {
  background-color: transparent;
  position: absolute;
  right: 4%;
  top: 1%;
  border: 0;
  z-index: 2;
}
.codeZoomHeader {
  background-color: transparent;
  position: absolute;
  left: 1%;
  top: 1%;
  border: 0;
  z-index: 2;
}
.codeModalFooter {
  background-color: transparent;
  position: absolute;
  right: 1%;
  bottom: 1%;
  border: 0;
}

.modalCntrlBtn {
  background-color: rgba(0, 0, 0, 0.35);
  border: 0;
  font-size: rfs-fluid-value($h3-font-size);
}
.modalFullScreenBtn:hover {
  background-color: white;  
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 575px) {
  .h4{
    font-size: rfs-fluid-value($h5-font-size);
  }
  p {
    font-size: rfs-fluid-value($h5-font-size);
  }
  .card-body > p {
    font-size: rfs-fluid-value($h6-font-size);
  }
  a {
    font-size: rfs-fluid-value($h5-font-size);
  }
  .shareBarIcon {
    height: rfs-fluid-value($h3-font-size * 2);
    width: rfs-fluid-value($h3-font-size * 2);
    font-size: rfs-fluid-value($h3-font-size);
  }
  .shareBarProfileIcon {
    font-size: rfs-fluid-value($h10-font-size);
  }
  .headerFontSize{
    font-size: rfs-fluid-value($h4-font-size);    
  }  
  .navBar {    
    flex-direction: column;
  }
  .navLink, .linkLocation{
    font-size: rfs-fluid-value($h6-font-size);    
  }
  .cardImg:hover {
    transform: scale(
      1.1
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .postImgContainer{
    height: 12rem;
  }  
  .postImg{
    width: 30rem;
  }
  .RQMpostImg {
    top:60%;
    width: 36rem;
  }
  .linkToAuthor > a {
    font-size: rfs-fluid-value($h7-font-size);
  }
  .cardContainer{    
    flex-direction: column;
    justify-content: space-between;    ; 
  }
  // .firstCardBody {
  //   aspect-ratio: 2/1;  
  // }
  // .smallCardBody {
  //   aspect-ratio: 2/1;  
  // }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  p {
    font-size: rfs-fluid-value($h5-font-size);
  }
  .smallCard > a > .card > .card-body > p {
    font-size: rfs-fluid-value($h6-font-size);
  }
  a {
    font-size: rfs-fluid-value($h5-font-size);
  }
  .shareBarIcon {
    height: rfs-fluid-value($h2-font-size * 1.3);
    width: rfs-fluid-value($h2-font-size * 1.3);
    font-size: rfs-fluid-value($h2-font-size);
  }
  .shareBarProfileIcon {
    font-size: rfs-fluid-value($h10-font-size);
  }
  .headerFontSize{
    font-size: rfs-fluid-value($h3-font-size);    
  }
  .navBar {    
    flex-direction: column;
  }
  .navLink, .linkLocation{
    font-size: rfs-fluid-value($h5-font-size);    
  }
  .postImgContainer{
    height: 16rem;
  }
  .RQMpostImg {
    width: 100%;
    top:60%;    
  }
  .linkToAuthor > a {
    font-size: rfs-fluid-value($h6-font-size);
  }
  .cardContainer{    
    justify-content: center;    
  }
  .smallCard{      
    align-self: flex-start;
  } 
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
  
// }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navBar {    
    flex-direction: row;
  }
  .smallCard{      
    align-self: center;
  }
  .RQMpostImg {    
    top:70%;    
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .shareBarProfileIcon {
    font-size: rfs-fluid-value($h1-font-size);
  }
  .headerFontSize{
    font-size: rfs-fluid-value($h2-font-size);    
  }
  .navLink, .linkLocation{
    font-size: rfs-fluid-value($h4-font-size);    
  }  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .smallCard{      
    align-self: flex-start;
  }  
}
/* Super extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
  .MPPostImgContainer{
    height: 45rem;
  }

}