@import "~bootstrap/scss/functions";
//overrides variables
$body-bg: whitesmoke;
$font-size-base:1rem;
$h7-font-size: $font-size-base * 0.75;
$h8-font-size: $font-size-base * 0.5;

$theme-colors: (
        "info": tomato,
        "danger": teal
);
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap";


$font-small-sizes: (
  7: $h7-font-size,
  8: $h8-font-size
);

$font-sizes: map-merge($font-sizes, $font-small-sizes);

@debug $font-sizes;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

//add fint sizes to font-sizes map

$font-stack: 14px 'Century Gothic', Futura, sans-serif;
$font-star: 'Press Start 2P', cursive;


body {
  font-family: $font-stack;
}

p {
  text-indent: 5%;
}

ol, ul {
  padding-left: 30px;
}

a {
  color: $dark
}
.star-robot-font {
  font-family: $font-star;
}
.header {
  height: 15vh;
  overflow: hidden;  
}
.headerImg{
  opacity: 0.65;
  margin-top: -17vh;
}
.headerOverlay{
  box-shadow: inset -20px -20px 40px 10px whitesmoke;
}
.cardPosts {
  height: 50vh;
}
.cardContainer {
  overflow: hidden; 
}
.cardImg {  
  transition: transform .8s; /* Animation */    
}
.cardImg:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card-text {
  color: #757575;
}